.App-intro {
  font-size: large;
}

.Layout-Wrapper {
  width: 100%;
}

.Content-Wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 64px;
}

@media screen and (min-width: 600px) {
  .Content-Wrapper {
    padding: 0 24px;
    padding-top: 74px;
  }
}

@media screen and (min-width: 948px) {
  .Content-Wrapper {
    max-width: 900px;
  }
}
